<!DOCTYPE html>
<html>
<head>
  <title>carpino alfa</title>
  <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/jquery-ui.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/alertify.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/alertify.core.css") }}" id="toggleCSS">
  <link rel="stylesheet" href="{{ static_url("css/alertify.default.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/cardino.css") }}">
  <script type="text/javascript" src="{{ static_url("js/raphael-2.1.4.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/justgage.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/rws.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/progressbar.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/alertify.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery-ui.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery.tmpl.min.js") }}"></script>
  <link rel="icon" type="image/x-icon" href="{{ static_url("favicon.ico") }}">
</head>
<body background='{{ static_url("images/bg.jpg") }}'>

<br />

  <div class="container">
      <div class="row">
        <div class="span12">
            <!-- <table class="table table-striped table-bordered table-condensed"> -->
          <table class="table table-condensed">
            <tr></tr>
            <tr>
              <td colspan='2' width="30%">
	          <div id="speedg" class="gauge size-big"></div>
              </td>
              <td colspan='2' style="text-align: center;" width='40%'>
                  <!-- <table class="table table-striped table-bordered table-condensed" width='100%'> -->
                  <table class="table table-condensed" width='100%'>
                     <tr>
                        <td width='50%' colspan='2' style="text-align: center;">
                            <img id="key" class="g-img" src="{{ static_url("images/key.png") }}" alt="" style="width:auto; height:24px;">
                        </td>
                        <td width='50%' style="text-align: center;" colspan='2' >
                            <img id="engine" class="g-img" src="{{ static_url("images/engine.png") }}" alt="" style="width:auto; height:24px;">
                     <tr>
                        <td width='25%' style="text-align: center;">
                            <img src="{{ static_url("images/fuel.png") }}" alt="" style="width:auto; height:24px;">
                        </td>
                        <td width='50%' colspan='2' style="text-align: center;" id="avr_fuel"> -- </td>
                        <td width='25%' style="text-align: center;" > Liters </td>
                     </tr>
                     <tr>
                        <td width='25%' style="text-align: center;">Range</td>
                        <td width='50%' colspan='2' style="text-align: center;" id="range"> -- </td>
                        <td width='25%' style="text-align: center;" > km </td>
                     </tr>
                     <tr>
                        <td width='25%' style="text-align: center;">
                            <img src="{{ static_url("images/steering_wheel.png") }}" alt="" style="width:auto; height:24px;">
                        </td>
                        <td width='50%' colspan='2' style="text-align: center;" id="steering_wheel"> -- </td>
                        <td width='25%' style="text-align: center;">  ° </td>
                     </tr>
                     <tr>
                        <td width='25%' style="text-align: center;">
                            <img id="handbrake" class="g-img" src="{{ static_url("images/handbrake.png") }}" alt="" style="width:auto; height:24px;">
                        </td>
                        <td width='50%' colspan='2' style="text-align: center;">
                            <img id="reverse" class="g-img" src="{{ static_url("images/reverse.png") }}" alt="" style="width:auto; height:24px;">
                        </td>
                        <td width='25%' style="text-align: center;">
                            <img id="brakes" class="g-img" src="{{ static_url("images/brakes.png") }}" alt="" style="width:auto; height:24px;">
                        </td>
                     </tr>
		  </table>
              </td>
              <td colspan='2' width="30%">
	          <div id="rpmg" class="gauge size-big"></div>
              </td>
            </tr>
            <tr>
              <td width='10%' nowrap style="text-align: center; vertical-align: middle;"><b>Throttle</b></td>
              <td colspan='5' width='93%' style="text-align: center; vertical-align: top;">
                  <div id="throttle"></div>
              </td>
            </tr>
         <!-- </table>
	  <table class="table table-striped table-bordered table-condensed"> -->
            <tr>
              <td width='70%' colspan='4' style="text-align: center; font-size: 18px;" id="track_name"> -- </td>
              <td width='30%' colspan='2' style="text-align: center;" nowrap>
                  {% from time import time %}
                  <a href="/api?id=mpd&value=prev&rand={{time()}}"><img src="{{ static_url("images/prev.png") }}" alt="" style="width:auto; height:24px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a href="/api?id=mpd&value=stop&rand={{time()}}"><img src="{{ static_url("images/stop.png") }}" alt="" style="width:auto; height:24px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a href="/api?id=mpd&value=play&rand={{time()}}"><img src="{{ static_url("images/play.png") }}" alt="" style="width:auto; height:24px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a href="/api?id=mpd&value=next&rand={{time()}}"><img src="{{ static_url("images/next.png") }}" alt="" style="width:auto; height:24px;"></a>
              </td>
            </tr>
          </table>

          <!-- <table class="table table-striped table-bordered table-condensed"> -->
          <table class="table table-striped table-condensed">
            <tr>
            </tr>
            <tr>
              <td width='20%' colspan='2' style="text-align: center;">
	            <div id="coolantg" class="gauge size-medium"></div>
              </td>
              <td width='20%' colspan='2' style="text-align: center;">
		        <div id="cpug" class="gauge size-medium"></div>
	          </td>
	          <td width='15%' style="text-align: center;">
		        <div id="intempg" class="gauge size-small"></div>
	           </td>
	          <td width='15%' style="text-align: center;">
		       <div id="outtempg" class="gauge size-small"></div>
		     </td>
	      <td widht='30%' style="text-align: center;">
              <!-- <table class="table table-striped table-bordered table-condensed" width='100%'> -->
                  <table class="table table-striped" width='100%'>
	               <tr>
                       <td style="text-align: center;">
                          <img id="dip_beam" class="g-img"  src="{{ static_url("images/dip_beam.png") }}" alt="" style="width:auto; height:24px;">
                       </td>
                       <td style="text-align: center;">
                          <img id="hazard_lights" class="g-img" src="{{ static_url("images/hazard_lights.png") }}" alt="" style="width:auto; height:24px;">
                       </td>
                   </tr>
                   <tr>
                       <td style="text-align: center;">
                          <img id="main_beam" class="g-img" src="{{ static_url("images/main_beam.png") }}" alt="" style="width:auto; height:24px;">
                       </td>
                       <td style="text-align: center;">
                          <img id="full_beam" class="g-img"  src="{{ static_url("images/full_beam.png") }}" alt="" style="width:auto; height:24px;">
                       </td>
		           </tr>
	               <tr>
                       <td style="text-align: center;">
                          <img id="rear_fog" class="g-img" src="{{ static_url("images/rear_fog.png") }}" alt="" style="width:auto; height:24px;">
                       </td>
                       <td style="text-align: center;">
                          <img id="front_fog" class="g-img" src="{{ static_url("images/front_fog.png") }}" alt="" style="width:auto; height:24px;">
                       </td>
		       </tr>
		  </table>
	      </td>
            </tr>
          </table>
        </div>
      </div>
  </div>
  <script>
    var ws = new ReconnectingWebSocket('ws://192.168.137.2:7350/ws');
    var $message = $('#message');
    ws.reconnectInterval = 5000;

    ws.onopen = function(){
        alertify.success("Connected!");
    };

    function wsSend(message){
      ws.send(message);
    }

    function wsSend(mid, mval){
      var jmsg = '{"id": "$mid", "value": "$mvalue"}'.replace(
                        '$mid', mid).replace('$mvalue', mvalue);
      ws.send(jmsge);
    }

    ws.onmessage = function(ev){
      var json = JSON.parse(ev.data);
      var imgs = ["key_status", "hazard_lights", "handbrake", "reverse", "engine",
        "brakes", "full_beam", "main_beam", "dip_beam", "rear_fog", "front_fog"];

      if (json.id=='internal1_temp') {
        var point = $('#internal_temp').highcharts().series[0].points[0];
        point.update(parseInt(json.value));
      } else if (json.id=='cpu_temp') {
	    cpug.refresh(json.value);
      } else if (json.id=='throttle') {
        throttlebar.animate((json.value/255));  // Number from 0.0 to 1.0
      } else if (json.id=='coolant_temp') {
	    coolantg.refresh(json.value);
      } else if (json.id=='rpm') {
	    rpmg.refresh(json.value);
      } else if (json.id=='speed') {
	    speedg.refresh(json.value);
      } else if (json.id=='out_temp') {
	    outtempg.refresh(json.value);
      } else if (json.id=='in_temp') {
	    intempg.refresh(json.value);
      } else if (json.id=='bt_voice') {
        alertify.log("Next Track...");
      } else if (json.id=='bt_phone') {
        alertify.log("Previous Track...");
      } else if (json.id=='bt_volup') {
        alertify.cool("Volume UP");
     } else if (json.id=='bt_voldown') {
        alertify.cool("Volume Down");
      } else if ((json.id=='fl_door') && (json.value==1)) {
        alertify.warm("Driver Door Opened");
      } else if ((json.id=='fl_door') && (json.value==0)) {
        alertify.cool("Driver Door Closed");
      } else if ((json.id=='fr_door') && (json.value==1)) {
        alertify.warm("Passenger Door Opened");
      } else if ((json.id=='fr_door') && (json.value==0)) {
        alertify.cool("Passenger Door Closed");
      } else if ((json.id=='rr_door') && (json.value==1)) {
        alertify.warm("Rear Right Door Opened");
      } else if ((json.id=='rr_door') && (json.value==0)) {
        alertify.cool("Pear Right Door Closed");
      } else if ((json.id=='rl_door') && (json.value==1)) {
        alertify.warm("Rear Left Door Opened");
      } else if ((json.id=='rl_door') && (json.value==0)) {
        alertify.cool("Pear Left Door Closed");
      } else if ((json.id=='door_alarm') && (json.value==1)) {
        alertify.error("ALARM: Opened Door!");
      } else if (json.id=='rear_demister') {
        alertify.warm("Rear Demister "+json.value);
      } else if (json.id=='fl_window') {
        alertify.warm("Driver Window "+json.value);
      } else if (json.id=='fr_window') {
        alertify.warm("Passenger Window "+json.value);
      } else if (json.id=='rl_window') {
        alertify.warm("Rear Left Window "+json.value);
      } else if (json.id=='rr_window') {
        alertify.warm("Rear Right Window "+json.value);
      } else if (json.id=='fl_lock') {
        alertify.warm("Driver Lock "+json.value);
      } else if (json.id=='fr_lock') {
        alertify.warm("Passenger Lock "+json.value);
      } else if (json.id=='rl_lock') {
        alertify.warm("Rear Left Lock "+json.value);
      } else if (json.id=='rr_lock') {
        alertify.warm("Rear Right Lock "+json.value);
//      } else if (json.id=='left_temp') {
//        alertify.warm("Left Temp "+json.value);
//      } else if (json.id=='right_temp') {
//        alertify.warm("Right Temp "+json.value);
//      } else if (json.id=='fan_speed') {
//        alertify.warm("Fan Speed "+json.value);
      } else if ((imgs.includes(json.id)) && (json.value==1)) {
          document.getElementById(json.id).style.filter = "opacity(100%)";
          document.getElementById(json.id).style.WebkitFilter = "opacity(100%)";
      } else if ((imgs.includes(json.id)) && (json.value==0)) {
          document.getElementById(json.id).style.filter = "opacity(35%)";
          document.getElementById(json.id).style.WebkitFilter = "opacity(35%)";
      } else {
          if (json.value==0) {
              json.value='-';
          } else if (json.value==1) {
              json.value='True';
          }
          $('#' + json.id).text(json.value);
          var $rowid = $('#row' + json.id);
      }
    };

    ws.onclose = function(ev){
      alertify.error("WebSocket disconnected.");
    };
    ws.onerror = function(ev){
      alertify.log("WebSocket Error.<br />&nbsp;&nbsp;&nbsp;&nbsp;Retry in 5 seconds...");
    };


    // CPU Gauge
    var cpug;
    document.addEventListener("DOMContentLoaded", function(event) {
	    cpug = new JustGage({
		    id: "cpug",
		    value: -1, min: 30, max: 85,
		    donut: false,
		    gaugeWidthScale: 0.65,
		    counter: false,
		    pointer: true,
		    pointerOptions: {
			    toplenght: 5,
			    bottomlenght: 0,
			    bottomwidth: 3,
			    color: "#7c7c7c",
		    },
		    symbol: "°C", label: "CPU Temp", labelFontColor: 'black',
		    hideInnerShadow: true, hideMinMax: false, humandFriendly: false,
		    refreshAnimationTime: 500,
	     });
    });

    // Coolant Gauge
    var coolantg;
    document.addEventListener("DOMContentLoaded", function(event) {
	    coolantg = new JustGage({
		    id: "coolantg",
		    value: -1, min: 30, max: 120,
		    donut: false,
		    gaugeWidthScale: 0.82,
		    counter: false,
		    pointer: true,
		    pointerOptions: {
			    toplenght: 5,
			    bottomlenght: 0,
			    bottomwidth: 3,
			    color: "#8e8e93",
		    },
		    levelColors: [ "#00fff6", "72bf43" ,"43bf58", "ff3b30"],
		    symbol: "°C", label: "Coolant", labelFontColor: "black",
		    hideInnerShadow: true, hideMinMax: false, humandFriendly: false,
		    refreshAnimationTime: 300,
	     });
    });


    // Speed Gauge
    var speedg;
    document.addEventListener("DOMContentLoaded", function(event) {
	    speedg = new JustGage({
		    id: "speedg",
		    value: 0, min: 0, max: 240,
		    donut: false,
		    gaugeWidthScale: 0.4,
		    counter: false,
		    pointer: false,
		    pointerOptions: {
			    toplenght: 5,
			    bottomlenght: 0,
			    bottomwidth: 3,
			    color: "#8e8e93",
		    },
		    levelColors: [ "#00fff6", "72bf43" ,"43bf58", "ff3b30"],
		    symbol: " km/h", label: "Speed", labelFontColor: "black",
		    hideInnerShadow: true, hideMinMax: false, humandFriendly: false,
		    refreshAnimationTime: 0,
	     });
    });


    // RPM Gauge
    var rpmg;
    document.addEventListener("DOMContentLoaded", function(event) {
	    rpmg = new JustGage({
		    id: "rpmg",
		    value: 0, min: 500, max: 5000,
		    donut: false,
		    gaugeWidthScale: 0.9,
		    counter: false,
		    pointer: false,
		    levelColors: [ "#00fff6", "72bf43" ,"43bf58", "ff3b30"],
		    label: "RPMs", labelFontColor: "black",
		    hideInnerShadow: true, hideMinMax: false, humandFriendly: false,
		    refreshAnimationTime: 0,
	     });
    });


    // Internal Temperature Gauge
    var intempg;
    document.addEventListener("DOMContentLoaded", function(event) {
	    intempg = new JustGage({
		    id: "intempg",
		    value: 0.0, min: 0, max: 50,
		    donut: true, gaugeWidthScale: 0.6,
		    counter: false, pointer: false, decimals: true,
		    levelColors: [ "#00fff6", "72bf43" ,"43bf58", "ff3b30"],
		    hideInnerShadow: true, hideMinMax: false, humandFriendly: false,
		    symbol: "°C", label: "Inside", labelFontColor: "black",
		    refreshAnimationTime: 1000,
	     });
    });


    // Outside Temperature Gauge
    var outtempg;
    document.addEventListener("DOMContentLoaded", function(event) {
	    outtempg = new JustGage({
		    id: "outtempg",
		    value: 0.0, min: -10, max: 50,
		    donut: true, gaugeWidthScale: 0.6,
		    counter: false, pointer: false, decimals: true,
		    levelColors: [ "#00fff6", "72bf43" ,"43bf58", "ff3b30"],
		    symbol: "°C", label: "Outside", labelFontColor: "black",
		    hideInnerShadow: true, hideMinMax: false, humandFriendly: false,
		    refreshAnimationTime: 1000,
	     });
    });

// Progress bar
var throttlebar = new ProgressBar.Line(throttle, {
  strokeWidth: 6,
  easing: 'linear',
  duration: 150,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
      // Text color.
      // Default: same as stroke color (options.color)
      color: '#000',
      position: 'absolute',
      right: '-50px',
      top: '0',
      padding: 0,
      margin: 0,
      transform: null
    },
    autoStyleContainer: false
  },
  from: {color: '#FFFF00'}, to: {color: '#FF0000'},
  step: (state, bar) => {
    bar.path.setAttribute('stroke', state.color);
    bar.setText(Math.round(bar.value() * 100) + ' %');
  }
});

alertify.set({ delay: 4000 });


//alertify.success("Loaded!");  //Green
//alertify.log("Loaded!");      //Black
//alertify.error("Error!");     //Red
//alertify.cool("Success!");    //Blue
//alertify.warm("Success!");    //Orange

  </script>
</body>
</html>

