#throttle {
  width: 95%;
  height: 8px;
  position: relative;
}

.gauge {
  margin: -40px 0px -40px 0px;
  height: 180px;
  width: 270px;
}

.size-big {
  height: 230px;
}

.size-medium {
  width: 190px;
  margin: -20px 0px 0px 0px;
}

.size-small {
  width: 150px;
  margin: 0px 0px 0px 0px;
}

.g-img {
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
}

